@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("./bootstrap.css");
body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-family: "Roboto", sans-serif;
}

textarea {
	min-height: 300px;
	width: 80%;
}

#result {
	margin: 30px 0;
}

#result table {
	width: 100%;
	max-width: 660px;
}

#result table tr {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 5px;
}
#result table tr td {
	padding: 8px 16px;
}
#result table tr td:nth-child(2) {
	justify-self: self-end;
}

#result table tr:nth-child(odd) {
	background-color: #f2f2f2;
}
