@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("./bootstrap.css");
body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-family: "Roboto", sans-serif;
}

textarea.big {
	min-height: 300px;
	width: 80%;
}
.input-field {
	padding: 5px 10px;
	font-size: 16px;
}
#result {
	margin: 30px 0;
}

#result table {
	width: 100%;
	max-width: 660px;
}

#result table tr {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 5px;
}
#result table tr td {
	padding: 8px 16px;
}
#result table tr td:nth-child(2) {
	justify-self: self-end;
}

#result table tr:nth-child(odd) {
	background-color: #f2f2f2;
}

#add-words-form {
	margin-top: 20px;
	padding: 5px;
	background: #ccc;
	width: 80%;
}
#refresh-field {
	width: 70%;
}
.refresh-block {
	display: flex;
	margin-top: 20px;
	align-items: center;
	position: relative;
}
#refresh-input {
	width: 70%;
}

#refresh-message {
	color: red;
	position: absolute;
	left: 0;
	bottom: -22px;
}

.icon-btn {
	cursor: pointer;
	display: inline-block;
	vertical-align: bottom;
}
